<h1>Bible App</h1>
<p>Simple way to read bible daily</p>

<input type="text" ng-model="search" class="form-control" ng-change="typed()" id="search-box">

<select data-ng-options="o.value as o.name for o in options" data-ng-model="language" class="form-control" ng-change="changeLang()"></select>

<hr>

<i class="fa fa-refresh fa-spin fa-lg" ng-show="loading"></i>

<div class="bible">
	<h1>{{book}} {{chapter}}</h1>
	<h3 ng-bind-html="title"></h3>

	<span ng-repeat="verse in verses">
		<strong class="number">{{verse.verse}}</strong><span ng-bind-html="verse.text"></span>
	</span>
</div>		